@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap')


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* Seção do HEADER */

header {
    height: 10vh; 
    display: flex;    
    justify-content: space-around;
    align-items: center;       
}

/* Seção do formulário */

.addTask_section {    
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; 
    width: 40vw;   
}

.addTask_form {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;    
    flex-direction: row;
    flex-wrap: nowrap;  
    background: rgba(248, 249, 250, 1); 
    border-radius: 8px; 
    margin-top: 20px;      
}

#input_task {
    border: none;
    display: flex;    
    justify-content: space-between;
    width: 40vw;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    background: rgba(248, 249, 250, 1);
    padding-left: 15px; 
    outline: none;              
}

#btn_input_task {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 60px;    
    border-radius: 8px;
    background-color: rgba(54, 79, 199, 1); 
    color: rgba(255, 255, 255, 1);  
    margin-right: 10px; 
}

/* Seção das tarefas */

.task_section {
    display: flex;
    height: 70vh;       
    justify-content: center;
    align-items: center; 
    
}

#noTaskMessage {    
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}


/* DIV das tarefas adicionadas */

#taskListContainer {
    display: flex;
    height: 70vh;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40vw;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 8px;   
    margin-top: 30px;    
}

.tarefa {    
    height: 52px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap; 
    width: 40vw; 
    background-color:rgba(241, 243, 245, 1);
    margin-bottom: 10px;    
    border-radius: 8px;
     
}
.tarefa span {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40vw;
    height: 52px;
    border-radius: 8px;
    padding-left: 15px;
    background-color:rgba(241, 243, 245, 1); 
    font-family: "IBM Plex Sans", sans-serif; 


}

.btnExcluir {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 60px;    
    border-radius: 8px;
    background-color: rgba(222, 226, 230, 1);
    color:rgba(73, 80, 87, 1);
    border: none;
    margin-right: 10px;

}