/* Dentro de style.module.css */
.userCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 10px;
    max-width: 300px;
  }
  
  .userCardActive {
    border-color: green;
  }
  